.Albums {
    margin: 3em auto;
    max-width: 50em;
  }
  
  .Albums h1, .card h2 {
    text-align: center;
  }
  
  .listado img {
    width: 10%!important;
    height: auto;
    margin-right: 5%;
  }
  .listado {
    margin-bottom: 5%;
    
  }
   
  .listadoAlbum img {
    float: right!important;
    width: 27%!important;
    height: auto;
    margin-right: 5%;
  }
  
  .card {
    border: 2px groove #fabada;
    vertical-align: -25px;
    padding: 1%;
    margin-left: 12%;
    margin-right: 40%;
    padding-bottom: 3.3%;
  }

  .nopadding{
    padding: 0px;
  }

  .card-songs {
    /* border: 2px groove #fabada; */
    vertical-align: -25px;
    padding: 1%;
    margin-left: 12%;
    margin-right: 40%;
    padding-bottom: 3.3%;
  }