.Reproductor {
    margin: 3em auto;
    max-width: 50em;
  }
  
  .Reproductor h1 {
    text-align: center;
  }
  
  img {
    width: 10%;
    height: auto;
    margin-right: 5%;
  }
  .listado {
    margin-bottom: 5%;
    
  }
   
  .listado img {
    float: left;
  }
  
  .card {
    border: 2px groove #fabada;
    vertical-align: -25px;
    padding: 1%;
    margin-left: 12%;
    margin-right: 40%;
    padding-bottom: 3.3%;
  }