body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.floatrigth {
  display: grid!important;
}

.floatleft {
  float: left;
}

.button {
  background-color: #fabada;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  cursor: pointer;
  margin-right: 0px;
}


.button:hover {
  background-color: #d63485;
}

.button:active {
  background-color: #d63485;
}

.col-menu{
  margin-top: 100%;
  width: 200%;
  height: auto;
}